@custom-variant dark (&:is(.dark *));

:root {
	--gray-s1: hsl(0deg 0% 99%);
	--gray-s2: hsl(0deg 0% 97.5%);
	--gray-c1: hsl(0deg 0% 95.25%);
	--gray-c2: hsl(0deg 0% 94%);
	--gray-c3: hsl(0deg 0% 88%);
	--gray-p1: hsl(0deg 0% 55%);
	--gray-p2: hsl(0deg 0% 51%);
	--gray-t1: hsl(0deg 0% 46.4%);
	--gray-t2: hsl(0deg 0% 18%);
	--indigo-s1: hsl(204deg 100% 98.75%);
	--indigo-s2: hsl(198deg 100% 97.5%);
	--indigo-c1: hsl(204deg 100% 95%);
	--indigo-c2: hsl(205deg 100% 93.5%);
	--indigo-p1: hsl(214deg 98% 50%);
	--indigo-p2: hsl(207deg 96% 48%);
	--indigo-t1: hsl(221deg 74% 51%);
	--black-a1: hsl(0deg 0% 0% / 4%);
	--black-a2: hsl(0deg 0% 0% / 8%);
	--black-a3: hsl(0deg 0% 0% / 12%);
	--black-a4: hsl(0deg 0% 0% / 16%);
	--background: var(--gray-s2);
	--foreground: var(--gray-t2);
	--card: white;
	--card-foreground: var(--gray-t2);
	--popover: white;
	--popover-foreground: var(--gray-t2);
	--primary: var(--indigo-p1);
	--primary-foreground: white;
	--secondary: var(--gray-s2);
	--secondary-foreground: var(--gray-t2);
	--muted: var(--gray-c1);
	--muted-foreground: var(--gray-t1);
	--accent: var(--indigo-s2);
	--accent-foreground: var(--indigo-t1);
	--destructive: oklch(50.5% 0.213 27.518deg);
	--destructive-foreground: white;
	--border: var(--gray-c3);
	--input: var(--gray-c1);
	--ring: var(--gray-t2);
	--radius: 0.375rem;
	--shadow-1: 0 1px 1px var(--black-a1), 0 1px 3px -1px var(--black-a2);
	--shadow-2: 0 1px 1px var(--black-a1), 0 2px 6px -1px var(--black-a2), 0 6px 12px -3px var(--black-a1);
}

.dark {
	--gray-s1: hsl(0deg 0% 7.5%);
	--gray-s2: hsl(0deg 0% 10%);
	--gray-c1: hsl(0deg 0% 13%);
	--gray-c2: hsl(0deg 0% 16%);
	--gray-c3: hsl(0deg 0% 32%);
	--gray-p1: hsl(0deg 0% 60%);
	--gray-p2: hsl(0deg 0% 64%);
	--gray-t1: hsl(0deg 0% 70%);
	--gray-t2: hsl(0deg 0% 90%);
	--indigo-s1: hsl(223deg 38% 10%);
	--indigo-s2: hsl(223deg 42% 12%);
	--indigo-c1: hsl(222deg 50% 16%);
	--indigo-c2: hsl(221deg 56% 20%);
	--indigo-p1: hsl(214deg 94% 60%);
	--indigo-p2: hsl(207deg 96% 64%);
	--indigo-t1: hsl(214deg 93% 66%);
	--background: black;
	--foreground: var(--gray-t2);
	--card: var(--gray-s1);
	--card-foreground: var(--gray-t2);
	--popover: var(--gray-s1);
	--popover-foreground: var(--gray-t2);
	--primary: var(--indigo-p1);
	--primary-foreground: black;
	--secondary: var(--gray-c1);
	--secondary-foreground: var(--gray-t2);
	--muted: var(--gray-c1);
	--muted-foreground: var(--gray-t1);
	--accent: var(--indigo-s2);
	--accent-foreground: var(--indigo-t1);
	--destructive: oklch(70.4% 0.191 22.216deg);
	--destructive-foreground: black;
	--border: var(--gray-c3);
	--input: var(--gray-c1);
	--ring: var(--gray-t2);
}

@theme inline {
	--font-sans: system-ui, sans-serif;
	--font-mono: ui-monospace, 'SFMono-Regular', 'Menlo', monospace;
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-destructive-foreground: var(--destructive-foreground);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground font-sans relative;
		line-height: 1.5;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
}
